<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.vtelege.app"
        versionCode = "10"
        version     = "1.27.0">

    <name>VTelegeBeta</name>

    <description>
        Приложение сообщества людей с золотыми руками. Покупать, продавать и общаться стало ещё проще с новым приложением VTelege. Ты ищешь натуральные продукты от частных производителей или желаешь продать товар созданый твоими собственными руками? Или у тебя есть сотни потрясающих рецептов и советов? Тогда скорее устанавливай VTelege  и начинай покупать, продавать и общаться!
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/b314518e0594b299a5b83c3bbdadb8c3.png" density="ldpi" />
        <icon src="res/android/icon/251e7f4b92e631615baddb9f950bf2a0.png" density="mdpi" />
        <icon src="res/android/icon/4b8e6898a9bcf99cc7193015f526d7da.png" density="hdpi" />
        <icon src="res/android/icon/f7473297a1c3b9ec9f2adfbb17a05a0d.png" density="xhdpi" />
        <icon src="res/android/icon/891e221f633afc5f903d3ec66c9b8ebb.png" density="xxhdpi" />
        <icon src="res/android/icon/5c9ba0e85362c2d4c6cd77839d628db8.png" density="xxxhdpi" />

        <splash src="res/android/screen/bcc94658681d1d12156be902ddfa17e8.png" density="port-hdpi"/>
        <splash src="res/android/screen/295523bf03a9cbba1bd373b29a32670a.png" density="port-ldpi"/>
        <splash src="res/android/screen/1d72929e5c35b79c722eecc523ad61f9.png" density="port-mdpi"/>
        <splash src="res/android/screen/bf6e9361e6a529bb934941aa308856c3.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/667dca9b7406bc5948f3624da0eded9d.png" width="180" height="180" />
        <icon src="res/ios/icon/4c845ada4ea79fd2afe6a602839ab6d9.png" width="60" height="60" />
        <icon src="res/ios/icon/ca2460cabb768b0608d00830023834e5.png" width="120" height="120" />
        <icon src="res/ios/icon/14f786afd6018762fa90c591b8a7f5b6.png" width="76" height="76" />
        <icon src="res/ios/icon/4f0c847137d2c4b2b27e03ac943842e9.png" width="152" height="152" />
        <icon src="res/ios/icon/6e295dffbaded9e828dffc21d5762f49.png" width="57" height="57" />
        <icon src="res/ios/icon/711fbc2ee5fce40e40c845e05ac2d890.png" width="114" height="114" />
        <icon src="res/ios/icon/185f6577b037a3e38b6ad0c01db4782e.png" width="72" height="72" />
        <icon src="res/ios/icon/80da857ab7ad1748332d65b80beebb56.png" width="144" height="144" />
        <icon src="res/ios/icon/8fad550fef2287f16177b60887b12328.png" width="167" height="167" />
        <icon src="res/ios/icon/0dc328c17756c497370a7a395ef65a15.png" width="29" height="29" />
        <icon src="res/ios/icon/ed7426caac1fa578033d4062bca59d48.png" width="58" height="58" />
        <icon src="res/ios/icon/bb88e42189a0b0de2a488ba9685bc931.png" width="87" height="87" />
        <icon src="res/ios/icon/5fe319aa481f8a314895673710e94caf.png" width="167" height="167" />

        <splash src="res/ios/screen/3fa064ba7b663ea4ce7e47efdf2f661d.png" />
        <splash src="res/ios/screen/372163770d27855656fb4e9dda7958be.png" />
        <splash src="res/ios/screen/41e1139338cb3622d9ecd541ecd51abd.png" />
        <splash src="res/ios/screen/68aa71eaf15a03904e62bd013e7bf859.png" />
        <splash src="res/ios/screen/8e2a94cbf4241d69df2cdfe703416163.png" />
        <splash src="res/ios/screen/d9ecdd4a2aa0f5885d6bb32406b0ccff.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/963cbf48558599a18c7c2f93e8e6d6be.png" target="StoreLogo" />
        <icon src="res/windows/icon/b88953487898be3b2ed29357ae918424.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/767531a62f4b892a89c0463099fa0274.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/acbc0b470196fb64eb12daee117dbfd1.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/4b8ff2dc0b79f787a70f4e46fc032c95.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/8fa3f2098e29bffa24067c8a4465d5b7.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/68af824ddf51c0e115477f8fa796e8e3.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/ec56d1d5ef7901370ad5548c690c1b97.png" target="SplashScreen"/>
        <splash src="res/windows/screen/03d887dc1902b61324a844f67ef25f28.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>